body {
    font-family: Arial, sans-serif;
    background-color: #fff8f0;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: #8b4513;
}

.galeria {
    text-align: center;
}

.galeria img {
    margin: 10px;
    width: 200px;
    height: 150px;
    
}

.galeria img:hover {
    transform: scale(1.05);
}
  
section {
    margin-bottom: 50px;
}

.botones-filtro {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.botones-filtro button {
    background-color: #deb887;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.botones-filtro button:hover {
    background-color: #c79e6d;
}

.seccion {
    display: none;
}

.seccion.activa {
    display: block;
}              